.main {
  margin: 50px;
}

.title {
  font-size: 50px;
  color: white;
  text-align: center;
}

.movie-display {
  display: flex;
}

.poster-card {
  padding: 20px;
  display: inline-block;
}

.detail-card {
  padding: 20px;
  display: inline-block;
  color: #c8c8c8;
}
